*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
/captures
/buildSrc/build

!app/build-scripts.git/android/gradle-plugin/plugin/build
!app/build-scripts.git/android/gradle-plugin/repo/com/chaione/build
